body{
    font-family: 'Poppins', sans-serif;
    background-image:url(images/bg2.png);
    background-position:left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.flex{
    display: flex;
}

.width-50{
    width: 50%;
}

.width-50 img{
    width: 80%;
}

.color-teal{
    color: teal;
}

.big-font{
    font-size: 50px;
}

.sec-1{
    margin-left:3%;
}

.sec-2{
    margin-top:100px;
    background-image: url(images/sec-2bg.png);
    background-position:center;
}

.links{
    text-decoration:none;
    padding: 10px 40px;
    background-image:linear-gradient(to right,#04a5a5,cadetblue);
    color:white;
    border-radius: 4px;
    font-weight:600;
    margin-left: 15px;
    margin-top:20px;
    display:inline-block;
}
.sec-3{
    margin-top: 50px;
    margin-bottom:50px;
    margin-left:25%;
    width: 50%;
    text-align: center;
}
/* .sec-3 h1,p{
    text-align: center;
} */



.sec-4{
    width: 100%;
}

.sec-4-cards{
    width:18%;
    padding-right:2.5%;
    padding-left:2.5%;
    margin-right: 5%;
    margin-left: 5%;
    border-left: 7px solid;
    border-image: linear-gradient(cadetblue,cyan);
    border-image-slice:1;
    box-shadow: 10px 10px 30px teal;

}

.image-sizing{
    width: 250px;
    height: 168px;
}


.hover:hover{
    background-color: white;
}

.sec-5{
    display: flex;
    margin-top:100px;
    background-color: whitesmoke;
    width:90%;
    margin-left:5%;
    border-radius: 10px;
    margin-bottom:100px;
}

.sec-5 div{
    display: inline-block;
    padding-right:2.5%;
    padding-left:2.5%;
    margin-right:5%;
    margin-left:5%;
    text-align: center;
}

footer{
    text-align: center;
    color: white;
    margin-top: 50px;
    background-color: black;
    height:175px;
}

.footer p,h1{
    padding-top:2.5%;
}